*{
	font-family: 'lato';
}
.form-inline{
	float: right;
	margin-top: 10px;
}
.navbar-default{
	font-size: 20px;
	margin: 0px; 
	background-color: rgb(237, 235, 215);
	padding-top: 10px; 
	padding-bottom: 10px; 

}
.btn-default{
	background-color: #D22513; 
	color: white;
}

.jumbotron{
	background-color: #0D6874; /*possible background colors: #0D6874 or #060634;*/
	height: 500px;
	color: white; 
	font-weight: bold; 
	font-size: 50px;
	text-align: center;
	margin: 0px;
	font-family: 'lato'; 
}
	.jumbotron #CFTitle{
		text-align: center;  
	/*	font-family: 'lato'; */
		 font: 400 100px/1.5 'Pacifico'; 
		 /* font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;*/
	}
	.jumbotron #maintext{
		text-align: center;
		font-size: 30px;
	}
	.jumbotron #ngotitle{
		font-size: 25px; 
		padding-right: 15px;
		padding-top: 40px;
	}
	.jumbotron #devtitle{
		font-size: 25px;
		margin-left: 10px;
		padding-top: 40px;
	}
	.jumbotron #ngobutton{
		margin: 10px;
		margin-left: 25px;
		margin-right: 40px;
		padding-left: 35px;
		padding-right: 35px; 
		padding-top: 20px;
		padding-bottom: 20px;
		background-color: ; 
		font-size: 22px;
		color: white;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}
	.jumbotron #devbutton{
		margin: 10px;
		margin-left: 25px;
		padding-left: 35px;
		padding-right: 35px; 
		padding-top: 20px;
		padding-bottom: 20px;
		background-color: #D22513; 
		font-size: 22px;
		color: white;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}
#midcontent{
	background-color: rgb(237, 235, 215);
	/*background-color: #F3F5E3; */
	height: 950px;
}
	#aboutus{
		font-size: 30px;
		font-weight: 70px;
		font-family: 'lato';
		color: #0D6874; 
		text-align: center; 
		font-weight: bold;
		margin-top: 40px;
		padding-bottom: 5px;
		margin-bottom: 10px;
	}	
	hr{
		width: 80%;
		height: 1px;
		color: black;
	}

	#abouttext{
		font-size: 20px;
		margin-top: 10px;
		text-align: justify; 
		padding-top: 50px;
		padding-bottom: 10px;
		width: 93%;
	}
	.img-circle{
		margin-top: 50px;
		float: left;
		padding: 0px;
	}
	.profiletext{
		float: left;
		padding-top: 50px;
		padding-left: 60px;
		width: 80%;
		text-align: justify;
		font-size: 20px;
	}
	#profiletext2{
		float: left; 
		padding-right: 60px;
		padding-left: 0px;
	}
	#profiletext3{
		float: left;
		padding-left: 60px;
	}
	#gurpreet{
		float: left;
	}
	#may{
		float: left;
	}
	#eylem{
		float: left;
	}
	#secondprofile, #firstprofile, #thirdprofile{
		height: 220px;
		width: 100%;	
		float: left;
	}
	
#lowercontent{
	height: 350px;
	/*background-color: #FFF4E1;*/
	background-color: rgb(237, 235, 215);
}
	#partners{
		margin-top: 20px;
		margin-bottom: 5px; 
		text-align: center; 
		font-size: 30px;
		font-weight: 70px;
		font-family: 'lato';
		color: #0D6874;  
	}
	#alumnify{
		border: 3px solid rgb(237, 229, 205);
		float: left;
		margin-top: 100px;
		margin-left: 15px;
	}
		#partner1{
			margin-top: 100px;
			text-align: justify; 
			padding-left: 20px;
			float: left;
			width: 400px;
			font-size: 20px
		}
	#asylumaccess{
		border: 3px solid rgb(237, 229, 205);
		float: left;
		background-color: white; 
		padding-left: 10px; 
		padding-right: 10px;
	}
		#partner2{
			margin-top: 0px;
			text-align: justify; 
			padding-left: 20px;
			float: left;
			width: 400px;
			font-size: 20px
		}
	#codingdojo{
		border: 3px solid rgb(237, 229, 205);
		/*padding-top: 20px;
		padding-bottom: 15px;*/
		padding-left: 5px;
		padding-right: 5px;
		float: left;
		background-color: white; 
		margin-top: 100px;
		margin-right: 15px;
	}
	#partner3{
			margin-top: 100px;
			text-align: justify; 
			padding-left: 20px;
			float: left;
			width: 400px;
			font-size: 20px
		}
/*#middiv{
	margin: 0px;
	padding-left: 5px; 
	padding-right: 5px; 
}*/
		
#bottomcontent{
	/*background-color: #FFF4F3; */
	background-color: rgb(237, 235, 215);
	height: 300px;
}
	#contacttitle{
		margin-top: 20px;
		margin-bottom: 10px; 
		text-align: center; 
		font-size: 30px;
		font-weight: 70px;
		font-family: 'lato';
		color: #0D6874; 
	}
	#contacttext{
		margin-top: 20px;
		text-align: justify; 
		margin-left: 200px;
		float: left;
		width: 600px;
		font-size: 20px;
	}
	hr{
	   height: 1px;
	   color: black;
	}
